@charset "utf-8"; 
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.4/dist/web/variable/pretendardvariable.css");
* { padding: 0;  margin: 0; }
li { list-style: none; }
a { text-decoration: none; color: inherit;}
img { display: block;}
body {  font-family: Pretendard, sans-serif;}
/* body{
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
} */

#wrap {
  width: 500px;  height: 700px;
  border: 2px solid #000;
  background-color: #D7BFD7;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#play {
  width: 310px;  height: 610px;
  border: 5px solid teal;
  background-color: #fff;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 20px;

  display: flex;
  justify-content: center;
  align-content: space-evenly;
  flex-direction: column;
}


header {  
  width: 260px;  height: 60px;
  line-height: 60px;
}
header > span {  
  display: block;
  width: 60px; font-size: 24px;
  text-align: center;
  float: left;
}
header > h2 {  
  display: block;
  width: 160px;
  float: right;
}


main {  
  width: 260px;  height: 130px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
main span .fa-image {
  width: 100px;  height: 100px;
  background-color: #FFB413;
  border: 2px solid #000;
  border-radius: 15px;
  font-size: 40px;
  float: left;

  display: flex;  justify-content: center;  align-items: center;
  margin-right: 10px;
}
main p:nth-of-type(1) {
  font-size: 30px;
  font-weight: bold;
  float: left;
}
main p:nth-of-type(2) {
  font-size: 14px;
  font-weight: bold;
}


aside {  
  width: 260px;  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
aside span {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 20px;
  box-shadow: 3px 2px;
  border: 2px solid #000;
}
aside span:first-child {
  width: 140px;  height: 45px;
  border-radius: 15px;
  font-weight: bold;
}
aside span:not(:first-child) {
  width: 45px; height: 45px;
  border-radius: 50%;
}


section {   
  width: 260px; height: 320px;

}
section div { 
  width: 260px;  height: 80px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


section div div {
  width: 50px;  height: 50px;
  border: black solid 2px;
  border-radius: 5px;
}

section p {
  width: 170px;
  font-weight: bold;
}
section p span {
  font-size: 12px;
  font-weight: lighter;
}


.color1 {
  background-color: #F74F26;
}

.color2 {
  background-color: #FF7EB3;
}

.color3 {
  background-color: #163FE1;
}

.color4 {
  background-color: #02BFA3;
} 